@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Eagle+Lake&family=Kanit:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Ultra&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler {
  color: #f58df5;
  background-color: rgba(255, 255, 255, 0.15);
}
.navbar-toggler-icon {
  color: white;
}

.dropdown-menu {
  background-color: #f58df5;
}
.dropdown-menu .dropdown-item {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.btn__card__Servicios {
  background-color: #df37df;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.card__planesyprecios__boton {
  background-color: #df37df;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.imgslider {
  height: 600px;
}

.texto__slider {
  background: rgb(219, 87, 255);
  background: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121849) 0%, rgba(219, 87, 255, 0.6895133053) 50%, rgba(219, 87, 255, 0.7035189076) 96%);
  border-radius: 40px;
}
.texto__slider h5 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
}
.texto__slider p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
}

.card__servicios {
  background: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121849) 0%, rgba(219, 87, 255, 0.7119222689) 50%, rgba(219, 87, 255, 0.7035189076) 96%);
}
.card__servicios__titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
}
.card__servicios__texto {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.card__planesyprecios {
  background: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121849) 0%, rgba(219, 87, 255, 0.7119222689) 50%, rgba(219, 87, 255, 0.7035189076) 96%);
}
.card__planesyprecios__item {
  background: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121849) 0%, rgba(219, 87, 255, 0.7119222689) 50%, rgba(219, 87, 255, 0.7035189076) 96%);
  color: white;
}

.footer {
  background: rgb(164, 5, 157);
  background: linear-gradient(117deg, rgba(164, 5, 157, 0.82) 0%, rgb(164, 5, 157) 50%, rgb(164, 5, 157) 96%);
}
.footer__logo {
  list-style-type: none;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 1.5rem;
  color: white !important;
}
.footer__tagstitulo {
  font-family: "Kanit", sans-serif;
}
.footer__tags {
  list-style-type: none;
  text-decoration: none;
  line-height: 2em;
  font-family: "Kanit", sans-serif;
  background: rgb(25, 23, 25);
  background: linear-gradient(117deg, rgba(25, 23, 25, 0.8883928571) 0%, rgb(25, 23, 25) 50%, rgba(25, 23, 25, 0.9276085434) 96%);
  display: inline-block;
  border-radius: 20px;
}
.footer__redes {
  list-style-type: none;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

header .header__navbar {
  background: rgb(198, 39, 241);
  background: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121849) 0%, rgba(219, 87, 255, 0.7119222689) 50%, rgba(219, 87, 255, 0.7035189076) 96%);
}
header .header__navbar__logo {
  height: 50px;
  width: 50px;
}
header .header__navbar__brand {
  color: white !important;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
}

.planesyprecios__titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: inline-block;
  border-radius: 20px;
  background: rgb(255, 110, 223);
}

.servicios__titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: inline-block;
  border-radius: 20px;
  background: rgb(255, 110, 223);
}

.contenedor__cards {
  display: flex;
}

.sobremi {
  text-align: justify;
  line-height: 2em;
}
.sobremi__titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: inline-block;
  border-radius: 20px;
  background: rgb(219, 87, 255);
  background: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121849) 0%, rgba(219, 87, 255, 0.6895133053) 50%, rgba(219, 87, 255, 0.7035189076) 96%);
}
.sobremi__parrafo {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
