// variables colores header
$background-navbar: rgb(198, 39, 241);
$backgroundgradient-navbar: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121848739496) 0%, rgba(219, 87, 255, 0.711922268907563) 50%, rgba(219, 87, 255, 0.7035189075630253) 96%);
// variables colores footer
$background-footer:rgb(164, 5, 157);
$backgroundgradient-footer: linear-gradient(117deg, rgba(164, 5, 157, 0.82) 0%, rgba(164, 5, 157, 1) 50%, rgba(164, 5, 157, 1) 96%);
// variables colores cards
$backgroundgradient-cards: linear-gradient(117deg, rgba(219, 87, 255, 0.6867121848739496) 0%, rgba(219, 87, 255, 0.711922268907563) 50%, rgba(219, 87, 255, 0.7035189075630253) 96%);
