.imgslider{
    max-height: 600px;
    object-fit: cover;
}
.texto__slider{
    background: rgb(219,87,255);
background: linear-gradient(117deg, rgba(219,87,255,0.6867121848739496) 0%, rgba(219,87,255,0.6895133053221288) 50%, rgba(219,87,255,0.7035189075630253) 96%);
border-radius: 40px;
h5{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}
p{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
}
}