.servicios__titulo{
    font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        display: inline-block;
        border-radius:20px;
        background: rgb(219,87,255);
        background: linear-gradient(117deg, rgba(219,87,255,0.6867121848739496) 0%, rgba(219,87,255,0.6895133053221288) 50%, rgba(219,87,255,0.7035189075630253) 96%);
}
.contenedor__cards{
    display: flex;
}